/* ======== NAV BAR ======================== */

.NavBarCSS {
  position: relative;
  width: 1874px;
  height: 142px;
  left: 0px;
  top: 0px;
  
  background: #8D99AE;
  border-radius: 0px 0px 10px 10px;
  display: inline-block;
}

/* ====================================== */















/* ====== LOG IN ================== */

.background {
display: flex;
position: relative;
width: 1990px;
height: 1024px;
right: 30%;

background: radial-gradient(50.56% 99.98% at 3.68% 59.96%, #8B2DA9 0%, rgba(139, 45, 169, 0) 100%)
#DF103A;
backdrop-filter: blur(2px);
}



.motherContainer {
    display: -webkit-inline-flex;
    position: absolute;
    left: 40%;
    width: 450px;
    min-width: none;
    height: 478px;
  
    top: 140px;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 32px;
    opacity: 80%;
  }


.email1 {
    position: absolute;
    left: 20%;

    max-width: 253px;
    width: fit-content;
    min-height: 51px;
    /* /* left: 595px; */
    top: 100px;
  
    /* background: #d9d9d9; */
    border-radius: 10px;
  }


  .button {
    position: absolute;
    top: 70%;
    left: 38%;
  }
/* ===================================================================== */






/* ============= REGISTER ============== */

.registerBackground {
    display: flex;
    position: relative;
    width: 1990px;
    height: 1024px;
    right: 30%;
    
    background: radial-gradient(50.56% 99.98% at 3.68% 59.96%, #8B2DA9 0%, rgba(139, 45, 169, 0) 100%)
    #DF103A;
    backdrop-filter: blur(2px);
    }

/* ===================================================  */







/* ====================== registerContainer ================================== */

.registerContainer {
    position: absolute;
    width: 904px;
    height: 651px;
    left: 263px;
    top: 161px;
    
    background: rgba(217, 217, 217, 0.4);
    border-radius: 32px;

    padding: 2%;
}

.registerButton {
    position: absolute;
    top: 80%;
    left: 40%;
}

/* ============================================================================ */